* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  direction: rtl;
}

.Header { 
  background-image: url('https://hivalearn.ir/templates/kasuka/assets/img/hero-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.Header-title , .Header-subtitle  {
  margin: 110px 0;
}

.Header-title {
  font-size: 70px;
  color: #fff;
}

.Header-title span {
  color: #ffff00;
}

.Header-subtitle {
  font-size: 30px;
  color: #756868;
}

.Features-container {
  display: flex;
  justify-content: space-between;
}

.About-kasuka {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 ;
}

.About-kasuka img {
  width: 700px;
  height: 500px;
  margin: 50px;
}

.About-kasuka .title {
  padding: 20px;
}

.About-kasuka .description {
  font-size: 30px;
  line-height: 50px;
}

.companies {
  display: flex;
  justify-content: space-between;
}

.adds {
  display: flex;
}

.adds img {
  padding: 30px;
  width: 800px;
  height: 700px;
}

.adds-text {
  padding: 30px;
}

.Our-survices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colab {
  background-image: url('https://hivalearn.ir/templates/kasuka/assets/img/cta-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  color: #fff;
  text-align: center;
}

.colab h1 {
  padding: 40px;
}

.colab p {
  font-size: 20px;
  line-height: 70px;
}

.colab button {
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  margin: 20px 0;
  color: #fff;
  font-size: 25px;
  border: 2px solid #fff;
}

.colab button:hover {
  background-color: #fff;
  color: #000000;
  transition: 0.25s;
  cursor: pointer;
}

.Portfolio-category {
  text-align: center;
}

.Portfolio-category li{
  display: inline-block;
}

.Portfolio-category li a {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
  padding: 10px 20px;
}

.Portfolio-category li a:hover {
  background-color: #ffff00;
  transition: 0.25s;
}

.Portfolios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Comments {
  background-image: url('https://hivalearn.ir/templates/kasuka/assets/img/testimonials-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  text-align: center;
  color: #ffff;
}

.Comment-avatar {
  width: 200px;
  border-radius: 50%;
  border: 4px solid #ff0000;
  margin: 50px 0;
}

.User-name {
  font-size: 50px;
}

.Comment-text {
  font-size: 30px;
  margin: 30px auto;
  line-height: 60px;
  width: 60%;
}

.Our-team {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}