* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  direction: rtl;
}

.Header { 
  background-image: url('https://hivalearn.ir/templates/kasuka/assets/img/hero-bg.jpg');
  height: 100vh;
  text-align: center;
}

.Header-title {
  font-size: 70px;
  color: #fff;
}

.Header-title span {
  color: #ffff00;
}