* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  direction: rtl;
}

.Header { 
  background-image: url('https://hivalearn.ir/templates/kasuka/assets/img/hero-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.Header-title {
  font-size: 70px;
  color: #fff;
}

.Header-title span {
  color: #ffff00;
}

.Header-subtitle {
  font-size: 30px;
  color: #756868;
}

.Features-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.About-kasuka {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 ;
}

.About-kasuka img {
  width: 700px;
  height: 500px;
  margin: 50px;
}

.About-kasuka .title {
  padding: 20px;
}

.About-kasuka .description {
  font-size: 30px;
  line-height: 50px;
}